
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  /*shared style */
  .text-center{
    text-align: center;
  }
  .secondary-bg{
    background-color: #FFF8F3;
  }
  .text-primary{
    color: #FD6E0A

  }
  .dark-2{
    color: #474747;

  }
  .dark-3{
    color: #757575;
  }
  .btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;

  }
  .section-title {
    color: #181818;
    font-size: 35px;
    font-weight: 600;

  }
  .section-description{
    font-size: 18px;
    color:#757575;
  }
  /* header */
  .header {
    background-image: url(./B11-portfolio-resources/images/developer.png), url(./B11-portfolio-resources/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right ;
  }



/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title{
    font-size:45px ;
    font-weight: 800;
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav ul a{
    text-decoration: none;
    font-size: 20px;
}
/* banner styles */
.banner {
    display: flex;
    justify-content: space-between;
    margin:0 35px 0 230px;
}
.banner-content{
    max-width: 585px;
}
.banner-greetings{
    font-weight: 600;
    font-size:  45px; 

}
.banner-title {
    font-weight: bold;
    font-size: 85px;
}
.banner-description{
    font-size: 18px;
    color: #757575;

}
.banner-pp{
    width: 580px;

}
/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 130px;
    margin: bottom 130px; 
    

}
/* about section */
.about {
    border-radius: 10px;
    padding: 130px 150px ;
    text-align: center;
    margin-top: 130px;
}

.item-description{
    font-weight: bold;
    font-size: 20px;
}
.about-items{
    display: flex;
    justify-content:space-around ;
}
.skills-container{
    display: flex;
    gap:24px;
}
.skill{
    padding: 30px;
    box-shadow:0px 6px 50px 0px rgba(0,0,0,0.06) ;
    border-radius: 5px;
}
.resume-container{
    display: flex;
   gap:24px;
    
    
}
.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.resume hr{
    margin: 30px 5px;
}
.resume-btn-download{
    margin-top: 50px;
}
footer{
    padding: 230px 130px;
    display: flex;
    gap: 100px;
}
.footer-column{
   width: 50%; 
}
footer input[type="text"], footer input[type="email"], footer input[type="textarea"]{
    height:64px ;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}